<ion-content class="ion-padding">

  <ion-slides #mySlider pager="true" [options]="slideOpts">
    <ion-slide>

      <div style="text-align:center">
        <img src="assets/b1.png"/>
        <h1><b>Set Goals</b></h1>
        <p>Starting by setting the goals you want to achieve.</p>

        <ion-button (click)="swipeNext()" color="secondary">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-slide>

    <ion-slide>
      <div style="text-align:center">
        <img src="assets/b2.png"/>
        <h1><b>Work on Goals</b></h1>
        <p>Get a timeline to achieve your goals and work on them.</p>

        <ion-button (click)="swipeNext()" color="secondary">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div style="text-align:center">
        <img src="assets/b3.png"/>
        <h1><b>Achieve Goals</b></h1>
        <p>Achieve your goals and feel proud.</p>

        <ion-button (click)="continueToNext()" color="secondary">
          Continue
        </ion-button>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
