<ion-content class="ion-padding">
  <div >
    <ion-card style="background: #022534">
      <ion-card-content>
        <h3 style="color: #fff;">Good Afternoon, </h3>
        <h1 style="color: #e0ac08">Julius Asante</h1>

        <h3 style="color: #e0ac08; margin-top: 30px;">Account Balance </h3>
        <h1 style="color: #fff;" class="ion-text-left">GH&cent; 1,000</h1>
  
      </ion-card-content>
    </ion-card>

  </div>

  <ion-grid>
    <ion-row >
      <ion-col size="6">
        <ion-card >
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="person"></ion-icon></h1>
            <p style="text-align: center">My Account</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="briefcase"></ion-icon></h1>
            <p style="text-align: center">Loan</p>
          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>

    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="cash"></ion-icon></h1>
            <p style="text-align: center">Investment</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="card"></ion-icon></h1>
            <p style="text-align: center">Cardless Withdrawal</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="sync"></ion-icon></h1>
            <p style="text-align: center">Funds Transfer</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="receipt"></ion-icon></h1>
            <p style="text-align: center">Request</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="newspaper"></ion-icon></h1>
            <p style="text-align: center">Standing Order</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="sync-circle"></ion-icon></h1>
            <p style="text-align: center">Forex Rates</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="person-circle"></ion-icon></h1>
            <p style="text-align: center">My Profile</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="checkbox"></ion-icon></h1>
            <p style="text-align: center">Bancassurance</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="phone-portrait"></ion-icon></h1>
            <p style="text-align: center">Airtime Top-up</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="qr-code"></ion-icon></h1>
            <p style="text-align: center">Scan And Pay</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="print"></ion-icon></h1>
            <p style="text-align: center">Micro Savings Balance</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="reader"></ion-icon></h1>
            <p style="text-align: center">Bill Payment</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h1 style="text-align: center"><ion-icon name="chatbox-ellipses"></ion-icon></h1>
            <p style="text-align: center">Feedback</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
