<ion-content class="ion-padding ion-margin">

  <h2 class="center-text">Pick Activity</h2>
  <p class="center-text">Kindly pick the activity you want to set a goal for. </p>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card class="shadow ion-activatable ripple-parent">
          <ion-card-content class="center-text">
            <img src="assets/smoking.png">
            <h2 class="text-center"><strong>Quit an Addiction</strong></h2>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="shadow ion-activatable ripple-parent">
          <ion-card-content class="center-text">
            <img src="assets/competence.png">
            <h2 class="text-center"><strong>Learn a Skill</strong></h2>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-card class="shadow ion-activatable ripple-parent">
          <ion-card-content class="center-text">
            <img src="assets/open-book.png">
            <h2 class="text-center"><strong>Read a Book</strong></h2>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card class="shadow ion-activatable ripple-parent">
          <ion-card-content class="center-text">
            <img src="assets/checklist.png">
            <h2 class="text-center"><strong>Other Activity</strong></h2>
          </ion-card-content>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="center-text">Don't worry you can change or add more later</p>

  <ion-button color="secondary" expand="block">Continue</ion-button>


</ion-content>
